:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
.statistic {
  position: absolute;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  top: 0%;
  right: 0%;
  transform: translateX(calc(100% + var(--width-scrollbar)));
  border-radius: 8px;
  padding-left: 4px;
}
.statistic__header {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  text-decoration: underline;
}
.statistic__list-item {
  animation: appearStat var(--time-standard-delay) var(--cubic-bezier-card-pick);
}
.statistic__text_uppercase {
  text-transform: uppercase;
}
.statistic__text_bold {
  font-weight: 700;
}

@keyframes appearStat {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 1500px) {
  .statistic {
    transform: translateX(calc(100% + var(--ratio-gap) * var(--gap-decks)));
  }
}
@media all and (max-width: 696px) {
  .statistic {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */