@import '../_variables';

.statistic {
    position: absolute;
    display: inline-block;
    @include wh(max-content, auto);
    top: 0%;
    right: 0%;
    transform: translateX(calc(100% + var(--width-scrollbar)));
    border-radius: 8px;
    padding-left: 4px;

    &__header {
        margin: 0px;
        padding: 0px;
        font-weight: 400;
        text-decoration: underline;
    }

    &__list-item {
        animation: appearStat var(--time-standard-delay) var(--cubic-bezier-card-pick);
    }

    &__text {

        &_uppercase {
            text-transform: uppercase;
        }

        &_bold {
            font-weight: 700;
        }
    }
}

@keyframes appearStat {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@media all and (max-width: 1500px) {
    .statistic {
        transform: translateX(calc(100% + var(--ratio-gap) * var(--gap-decks)));
    }
}

@media all and (max-width: 696px) {
    .statistic {

        font-size: 14px;
    }
}