@import '../variables';

.notification {
    position: fixed;
    bottom: 0%;
    right: calc(6% + var(--ratio-gap) * var(--gap-decks));
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid var(--color-tarot-moon);
    border-bottom: none;
    box-sizing: border-box;
    padding: 4px 8px 2px;
    box-shadow: inset 0px 2px 16px -2px var(--color-shadow);
    transition: transform 0.5s linear, visibility 1.5s linear, background-color 0.66s linear;
    @include wh(calc(var(--ratio-deck) * var(--width-card) + var(--gap-decks)), auto);

    &__sign {
        margin-right: 6px;
        @include wh(calc(var(--ratio-deck) * 64px));
    }
}