:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
.notification {
  position: fixed;
  bottom: 0%;
  right: calc(6% + var(--ratio-gap) * var(--gap-decks));
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid var(--color-tarot-moon);
  border-bottom: none;
  box-sizing: border-box;
  padding: 4px 8px 2px;
  box-shadow: inset 0px 2px 16px -2px var(--color-shadow);
  transition: transform 0.5s linear, visibility 1.5s linear, background-color 0.66s linear;
  width: calc(var(--ratio-deck) * var(--width-card) + var(--gap-decks));
  height: auto;
}
.notification__sign {
  margin-right: 6px;
  width: calc(var(--ratio-deck) * 64px);
  height: calc(var(--ratio-deck) * 64px);
}/*# sourceMappingURL=style.css.map */