:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
.history {
  width: calc(var(--ratio-deck) * var(--width-card) + var(--width-scrollbar));
  height: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
.history::-webkit-scrollbar {
  width: var(--width-scrollbar);
}
.history::-webkit-scrollbar-thumb {
  background-color: var(--color-tarot-moon);
  border-radius: 2px;
  box-shadow: inset 2px 0px 1px 2px var(--color-grey), inset -2px 0px 1px 2px var(--color-grey);
}
.history::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}
.history::-webkit-scrollbar-track-piece {
  margin: 8px 0px;
}
.history__item {
  position: relative;
  width: 100%;
  background-color: black;
  box-shadow: inset 20px 0px 40px 0px black, inset -20px 0px 40px 0px black, inset 0px 2px 2px 0px var(--color-tarot-grey066), inset 0px -2px 2px 0px var(--color-tarot-grey066);
  box-sizing: border-box;
  height: calc(var(--ratio-deck) * var(--height-card) / 10);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  animation: itemListAppear var(--time-standard-delay) var(--cubic-bezier-card-pick);
}
.history__item:hover::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-tarot-moon);
  box-shadow: inset 0px 0px 4px 2px var(--color-tarot-grey);
}
.history__item:first-child {
  border-radius: 16px 16px 0px 0px;
}
.history__item:last-child {
  border-radius: 0px 0px 16px 16px;
}
.history__label {
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  transition: opacity var(--time-standard-delay) ease-in;
}
.history__label_base-color {
  color: var(--color-tarot-moon) !important;
}

@keyframes itemListAppear {
  0% {
    transform: translateX(-66%);
    opacity: 0;
  }
  50% {
    transform: translateX(33%);
    opacity: 0.4;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@media all and (max-width: 696px) {
  .history__label {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */