@import '../_variables';

.history {
    @include wh(calc(var(--ratio-deck) * var(--width-card) + var(--width-scrollbar)), 100%);
    overflow-x: hidden;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: var(--width-scrollbar);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-tarot-moon);
        border-radius: 2px;
        box-shadow: inset 2px 0px 1px 2px var(--color-grey),
            inset -2px 0px 1px 2px var(--color-grey);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-primary);
    }

    &::-webkit-scrollbar-track-piece {
        margin: 8px 0px;
    }

    &__item {
        position: relative;
        width: 100%;
        background-color: black;
        box-shadow: inset 20px 0px 40px 0px black,
            inset -20px 0px 40px 0px black,
            inset 0px 2px 2px 0px var(--color-tarot-grey066),
            inset 0px -2px 2px 0px var(--color-tarot-grey066);
        box-sizing: border-box;
        height: calc(var(--ratio-deck) * var(--height-card) / 10);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        animation: itemListAppear var(--time-standard-delay) var(--cubic-bezier-card-pick);

        &:hover {

            &::before {
                content: '';
                position: absolute;
                border-radius: 16px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border: 2px solid var(--color-tarot-moon);
                box-shadow: inset 0px 0px 4px 2px var(--color-tarot-grey);
            }
        }

        &:first-child {
            border-radius: 16px 16px 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px 16px 16px;
        }
    }

    &__label {
        font-size: 18px;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        transition: opacity var(--time-standard-delay) ease-in;

        &_base-color {
            color: var(--color-tarot-moon) !important;
        }
    }
}

@keyframes itemListAppear {
    0% {
        transform: translateX(-66%);
        opacity: 0;
    }

    50% {
        transform: translateX(33%);
        opacity: 0.4;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@media all and (max-width: 696px) {
    .history {

        &__label {
            font-size: 12px;
        }
    }
}