@import '../_variables';

@keyframes moveCard {
    0% {
        transform: translateX(calc(100% + calc(var(--ratio-gap) * var(--gap-decks))));
    }

    40% {
        transform: translateX(calc(100% + calc(var(--ratio-gap) * var(--gap-decks)))) rotateY(-105deg);
    }

    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes shineEffect {
    0% {
        box-shadow: 0px 0px 0px 0px var(--color-shadow);
    }

    33% {
        box-shadow: 24px 0px 36px -16px var(--color-card-type),
            -24px 0px 36px -16px var(--color-card-type);
    }

    100% {
        box-shadow: 0px 0px 0px 0px var(--color-grey);
    }
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}