:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
@keyframes moveCard {
  0% {
    transform: translateX(calc(100% + var(--ratio-gap) * var(--gap-decks)));
  }
  40% {
    transform: translateX(calc(100% + var(--ratio-gap) * var(--gap-decks))) rotateY(-105deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
@keyframes shineEffect {
  0% {
    box-shadow: 0px 0px 0px 0px var(--color-shadow);
  }
  33% {
    box-shadow: 24px 0px 36px -16px var(--color-card-type), -24px 0px 36px -16px var(--color-card-type);
  }
  100% {
    box-shadow: 0px 0px 0px 0px var(--color-grey);
  }
}
@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */