@import '../_variables';

// Prototype class for checkbox
.checkbox_before {
    content: '';
    position: absolute;
    display: inline-block;
    @include wh(50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--color-primary);
    background: radial-gradient(circle at 39% 32%,
            var(--color-tarot-moon) 13%,
            var(--color-grey) 36%,
            var(--color-primary) 66%);
}

.settings-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    right: calc(var(--ratio-gap) * var(--gap-decks));
    border-radius: 0px 0px 6px 6px;
    background-color: var(--color-grey);
    border: 1px solid var(--color-tarot-moon);
    box-shadow: inset 8px -8px 16px 0px var(--color-secondary066);
    border-top: none;
    padding: 2px 8px 4px;
    height: 40px;

    & * {
        font-size: 14px;
        box-sizing: border-box;
    }

    &__input-checkbox {
        margin-right: 6px;
    }

    &__input-text {
        margin-right: 6px;
        width: calc(3 * var(--size-font));
    }

    &__button-refresh {
        @include wh(80px, auto);
        line-height: 16px;
        align-self: stretch;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        margin-right: 2px;
    }

    &__button-reset {
        @include wh(60px, 100%);
        line-height: 16px;
    }
}

.input-checkbox {
    cursor: pointer;

    & span {
        line-height: 16px;
        margin-right: 2px;
    }

    &:hover {

        & span {
            text-shadow: 0.5px 0.5px var(--color-tarot-moon);
        }
    }

    &>* {
        vertical-align: middle;
    }

    &__box {
        appearance: none;
        @include wh(var(--size-font));
        background-color: var(--color-tarot-moon);
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        position: relative;
        padding: 0px;
        margin: 0px;
        transition: all 0.06s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-white);
            border: 1px solid var(--color-primary);
            box-shadow: 0px 0px 4px 1px var(--color-tarot-preistess);

            &::before {
                @extend .checkbox_before;
                @include wh(66%);
            }
        }

        &:active {
            border-width: 2px;
            box-shadow: inset 0px 0px 4px 0px var(--color-secondary);

            &::before {
                @include wh(33%);
                box-shadow: 0px 0px 2px 1px var(--color-tarot-preistess);
            }
        }

        &:checked {
            box-shadow: 0px 0px 4px 1px var(--color-tarot-preistess);

            &::before {
                @extend .checkbox_before;
            }

            &:hover {

                &::before {
                    @include wh(50%);
                }
            }
        }
    }
}

.input-text {
    appearance: none;
    border: 2px solid var(--color-primary);
    border-radius: 0px 0px 6px 6px;
    background-color: var(--color-tarot-grey);
    color: var(--color-secondary);
    transition: all 0.15s;
    padding: 0px 4px 0px;

    &:hover,
    &:focus {
        font-size: var(--size-font);
        outline: 0.5px solid var(--color-primary);
        box-shadow: 0px 0px 6px 1px var(--color-tarot-preistess);
    }

    &:focus {
        background-color: var(--color-white);
    }
}

.button {
    appearance: none;
    cursor: pointer;
    border: 1px solid var(--color-grey);
    background-color: var(--color-tarot-moon);
    color: var(--color-secondary);
    text-shadow: 0.75px 0.5px var(--color-white);
    border-radius: 4px 4px 6px 6px;
    text-decoration: underline;
    box-shadow:
        0px 6px 12px -2px var(--color-grey),
        0px 12px 4px -4px var(--color-white),
        0px -4px 2px 0px var(--color-primary),
        inset -4px 0px 4px -2px var(--color-primary),
        inset 4px 0px 4px -2px var(--color-primary),
        inset 0px 14px 4px 2px var(--color-white),
        inset 0px 16px 8px 0px var(--color-grey);
    box-sizing: border-box;
    text-align: center;
    padding: 1px 6px;
    transform-origin: 0px 0px;
    transform: rotateX(30deg);
    transition: all 0.13s;

    &:hover {
        box-shadow:
            0px 6px 12px -2px var(--color-grey),
            0px 12px 4px -4px var(--color-white),
            0px -2px 4px 1px var(--color-tarot-preistess),
            inset -4px 0px 4px -2px var(--color-primary),
            inset 4px 0px 4px -2px var(--color-primary),
            0px -4px 2px 0px var(--color-primary),
            inset 0px 14px 4px 2px var(--color-white),
            inset 0px 16px 8px 0px var(--color-grey);
        background-color: var(--color-white);
        border: 0.5px solid var(--color-primary);
        font-size: var(--size-font);
        text-shadow: 1px 0.66px var(--color-white);
    }

    &:active {
        border-width: 2px;
        box-shadow:
            0px 4px 8px -2px var(--color-grey),
            0px 6px 2px -4px var(--color-white),
            0px -4px 2px 0px var(--color-primary),
            inset -4px 0px 4px -2px var(--color-primary),
            inset 4px 0px 4px -2px var(--color-primary),
            inset 0px 14px 4px 2px var(--color-white),
            inset 0px 16px 8px 0px var(--color-grey);
        font-size: 14px;
        transform-origin: 0px 100%;
    }
}