@import '../variables';

.description {
    position: absolute;
    @include wh(100%, auto);
    bottom: 0%;
    transform: translate(0%, calc(100% - var(--ratio-deck) * 33px));
    background-color: black;
    border: 3px solid var(--card-type);
    border-radius: 0px 0px 16px 16px;
    border-top: none;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 20px;
    transition: transform var(--time-standard-delay), opacity 1s ease-out;
    box-shadow: inset 28px 0px 40px 0px black,
        inset -28px 0px 40px 0px black,
        inset 0px -4px 4px 0px var(--color-tarot-preistess);

    &_hidden {
        transform: translate(0%, 100%);
        opacity: 0;
        transition: all 0.5s ease-in;
    }

    &__text {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }
}