:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
.checkbox_before, .input-checkbox__box:checked::before, .input-checkbox__box:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-primary);
  background: radial-gradient(circle at 39% 32%, var(--color-tarot-moon) 13%, var(--color-grey) 36%, var(--color-primary) 66%);
}

.settings-panel {
  position: fixed;
  top: 0px;
  right: calc(6% + var(--ratio-gap) * var(--gap-decks));
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 0px 0px 6px 6px;
  background-color: var(--color-grey);
  border: 1px solid var(--color-tarot-moon);
  box-shadow: inset 8px -8px 16px 0px var(--color-secondary066);
  border-top: none;
  padding: 2px 8px 4px;
  height: 40px;
}
.settings-panel * {
  font-size: 14px;
  box-sizing: border-box;
}
.settings-panel__input-checkbox {
  margin-right: 6px;
}
.settings-panel__input-text {
  margin-right: 6px;
  width: calc(3 * var(--size-font));
}
.settings-panel__button-refresh {
  width: 80px;
  height: auto;
  line-height: 16px;
  align-self: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2px;
}
.settings-panel__button-reset {
  width: 60px;
  height: 100%;
  line-height: 16px;
}

.input-checkbox {
  cursor: pointer;
}
.input-checkbox span {
  line-height: 16px;
  margin-right: 2px;
}
.input-checkbox:hover span {
  text-shadow: 0.5px 0.5px var(--color-tarot-moon);
}
.input-checkbox > * {
  vertical-align: middle;
}
.input-checkbox__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: var(--size-font);
  height: var(--size-font);
  background-color: var(--color-tarot-moon);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  padding: 0px;
  margin: 0px;
  transition: all 0.06s;
  cursor: pointer;
}
.input-checkbox__box:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 4px 1px var(--color-tarot-preistess);
}
.input-checkbox__box:hover::before {
  width: 66%;
  height: 66%;
}
.input-checkbox__box:active {
  border-width: 2px;
  box-shadow: inset 0px 0px 4px 0px var(--color-secondary);
}
.input-checkbox__box:active::before {
  width: 33%;
  height: 33%;
  box-shadow: 0px 0px 2px 1px var(--color-tarot-preistess);
}
.input-checkbox__box:checked {
  box-shadow: 0px 0px 4px 1px var(--color-tarot-preistess);
}
.input-checkbox__box:checked:hover::before {
  width: 50%;
  height: 50%;
}

.input-text {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid var(--color-primary);
  border-radius: 0px 0px 6px 6px;
  background-color: var(--color-tarot-grey);
  color: var(--color-secondary);
  transition: all 0.15s;
  padding: 0px 4px 0px;
}
.input-text:hover, .input-text:focus {
  font-size: var(--size-font);
  outline: 0.5px solid var(--color-primary);
  box-shadow: 0px 0px 6px 1px var(--color-tarot-preistess);
}
.input-text:focus {
  background-color: var(--color-white);
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  background-color: var(--color-tarot-moon);
  color: var(--color-secondary);
  text-shadow: 0.75px 0.5px var(--color-white);
  border-radius: 4px 4px 6px 6px;
  text-decoration: underline;
  box-shadow: 0px 6px 12px -2px var(--color-grey), 0px 12px 4px -4px var(--color-white), 0px -4px 2px 0px var(--color-primary), inset -4px 0px 4px -2px var(--color-primary), inset 4px 0px 4px -2px var(--color-primary), inset 0px 14px 4px 2px var(--color-white), inset 0px 16px 8px 0px var(--color-grey);
  box-sizing: border-box;
  text-align: center;
  padding: 1px 6px;
  transform-origin: 0px 0px;
  transform: rotateX(30deg);
  transition: all 0.13s;
}
.button:hover {
  box-shadow: 0px 6px 12px -2px var(--color-grey), 0px 12px 4px -4px var(--color-white), 0px -2px 4px 1px var(--color-tarot-preistess), inset -4px 0px 4px -2px var(--color-primary), inset 4px 0px 4px -2px var(--color-primary), 0px -4px 2px 0px var(--color-primary), inset 0px 14px 4px 2px var(--color-white), inset 0px 16px 8px 0px var(--color-grey);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-primary);
  font-size: var(--size-font);
  text-shadow: 1px 0.66px var(--color-white);
}
.button:active {
  border-width: 2px;
  box-shadow: 0px 4px 8px -2px var(--color-grey), 0px 6px 2px -4px var(--color-white), 0px -4px 2px 0px var(--color-primary), inset -4px 0px 4px -2px var(--color-primary), inset 4px 0px 4px -2px var(--color-primary), inset 0px 14px 4px 2px var(--color-white), inset 0px 16px 8px 0px var(--color-grey);
  font-size: 14px;
  transform-origin: 0px 100%;
}/*# sourceMappingURL=style.css.map */