//Variables
:root {
    // Color
    --color-primary: hsl(215, 36%, 32%);
    --color-secondary: hsl(215, 36%, 21%);
    --color-secondary066: hsla(215, 36%, 21%, 0.66);
    --color-shadow: hsl(145, 14%, 17%);
    --color-grey: hsl(0, 0%, 26%);
    --color-white: hsl(0, 0%, 91%);
    --color-tarot-moon: hsl(240, 23%, 88%);
    --color-tarot-preistess: hsl(50, 95%, 75%);
    --color-tarot-grey: hsl(0, 0%, 69%);
    --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
    --color-tarot-shine-effect: #000000;
    --color-notification-fine: hsla(120, 100%, 32%, 0.5);
    --color-notification-err: hsla(0, 100%, 32%, 0.5);
    --color-notification-none: hsla(50, 95%, 75%, 0.5);
    // Width & height
    --width-card: 340px;
    --height-card: 666px;
    --gap-decks: 66px;
    --width-scrollbar: 10px;
    // Sizes
    --size-font: 16px;
    // Time
    --time-standard-delay: 0.66s;
    --time-shine-effect: 2s;
    // Graphs
    --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
    // Ratio
    --ratio-deck: 0.75;
    --ratio-gap: 1;
}

//Functions
@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin whImage($w, $h: auto) {
    max-width: $w;
    height: $h;
}

@media all and (max-width: 696px) {
    :root {
        --ratio-deck: 0.5;
        --ratio-gap: 0.25;
    }
}