@import './components/_variables';

.main {
    position: relative;
    z-index: 1;
    width: 88%;
    min-height: 100%;
    margin: 0px auto;
    background-color: var(--color-primary);
    padding: var(--gap-decks) 0px;
    border: 1px solid var(--color-tarot-moon);
    border-bottom: 0px;
    border-top: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 32px 16px var(--color-grey);
    overflow: hidden;
}

.decks {
    display: grid;
    grid-gap: calc(var(--ratio-gap) * var(--gap-decks));
    grid-template-columns: repeat(3, calc(var(--ratio-deck) * var(--width-card)));
    justify-content: center;

    &__item-picked {
        z-index: 1;
    }
}

.deck {
    position: relative;
    @include wh(calc(var(--ratio-deck) * var(--width-card)),
        calc(var(--ratio-deck) * var(--height-card)));

    &__card-container {
        position: absolute;
        box-sizing: border-box;
        background-color: var(--color-grey);
        box-shadow: 0px 1px 4px 1px var(--color-shadow);
        @include wh(100%);
        border-radius: 16px;
        transform-style: preserve-3d;
        perspective: var(--height-card);

        &_picked {
            animation: moveCard var(--time-standard-delay) var(--cubic-bezier-card-pick);
            pointer-events: none;
        }

        &_moved {
            transform: rotateY(-180deg);
        }
    }

    &__card {
        position: absolute;
        @include wh(100%);
        border-radius: inherit;
        box-sizing: border-box;
        backface-visibility: hidden;

        &_reversed {
            transform: rotateY(180deg);
        }
    }

    &__tip-container {
        border: 2px dashed var(--color-tarot-grey);
        border-radius: 16px;
    }

    &__tip {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        text-align: center;
        padding: 0px 16px;
        color: var(--color-tarot-moon);
    }
}

@media all and (max-width: 1500px) {
    .decks {
        grid-template-columns: repeat(2, calc(var(--ratio-deck) * var(--width-card)));
    }
}