:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
.main {
  position: relative;
  z-index: 1;
  width: 88%;
  min-height: 100%;
  margin: 0px auto;
  background-color: var(--color-primary);
  padding: var(--gap-decks) 0px;
  border: 1px solid var(--color-tarot-moon);
  border-bottom: 0px;
  border-top: 0px;
  box-sizing: border-box;
  box-shadow: 0px 0px 32px 16px var(--color-grey);
  overflow: hidden;
}

.decks {
  display: grid;
  grid-gap: calc(var(--ratio-gap) * var(--gap-decks));
  grid-template-columns: repeat(3, calc(var(--ratio-deck) * var(--width-card)));
  justify-content: center;
}
.decks__item-picked {
  z-index: 1;
}

.deck {
  position: relative;
  width: calc(var(--ratio-deck) * var(--width-card));
  height: calc(var(--ratio-deck) * var(--height-card));
}
.deck__card-container {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--color-grey);
  box-shadow: 0px 1px 4px 1px var(--color-shadow);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform-style: preserve-3d;
  perspective: var(--height-card);
}
.deck__card-container_picked {
  animation: moveCard var(--time-standard-delay) var(--cubic-bezier-card-pick);
  pointer-events: none;
}
.deck__card-container_moved {
  transform: rotateY(-180deg);
}
.deck__card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.deck__card_reversed {
  transform: rotateY(180deg);
}
.deck__tip-container {
  border: 2px dashed var(--color-tarot-grey);
  border-radius: 16px;
}
.deck__tip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  text-align: center;
  padding: 0px 16px;
  color: var(--color-tarot-moon);
}

@media all and (max-width: 1500px) {
  .decks {
    grid-template-columns: repeat(2, calc(var(--ratio-deck) * var(--width-card)));
  }
}/*# sourceMappingURL=App.css.map */