@import './components/_variables';

@font-face {
    font-family: "Roboto Mono";
    src: url(asset/fonts/RobotoMono-Light.woff2),
        url(asset/fonts/RobotoMono-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(asset/fonts/RobotoMono-Regular.woff2),
        url(asset/fonts/RobotoMono-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(asset/fonts/RobotoMono-Bold.woff2),
        url(asset/fonts/RobotoMono-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#root {
    padding: 0px;
    margin: 0px auto;
    height: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    overflow-y: auto;
}

html,
button,
input {
    font-size: var(--size-font);
    font-family: 'Roboto Mono', monospace;
    color: var(--color-tarot-moon);
}

body {
    background-color: var(--color-secondary);
    background: linear-gradient(to right, var(--color-primary) -8%, transparent 3%),
        linear-gradient(to left, var(--color-primary) -8%, var(--color-secondary) 3%);
}

ul,
p,
h3 {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

*:disabled {
    opacity: 0.5;
    pointer-events: none;
}