:root {
  --color-primary: hsl(215, 36%, 32%);
  --color-secondary: hsl(215, 36%, 21%);
  --color-secondary066: hsla(215, 36%, 21%, 0.66);
  --color-shadow: hsl(145, 14%, 17%);
  --color-grey: hsl(0, 0%, 26%);
  --color-white: hsl(0, 0%, 91%);
  --color-tarot-moon: hsl(240, 23%, 88%);
  --color-tarot-preistess: hsl(50, 95%, 75%);
  --color-tarot-grey: hsl(0, 0%, 69%);
  --color-tarot-grey066: hsla(0, 0%, 69%, 0.66);
  --color-tarot-shine-effect: #000000;
  --color-notification-fine: hsla(120, 100%, 32%, 0.5);
  --color-notification-err: hsla(0, 100%, 32%, 0.5);
  --color-notification-none: hsla(50, 95%, 75%, 0.5);
  --width-card: 340px;
  --height-card: 666px;
  --gap-decks: 66px;
  --width-scrollbar: 10px;
  --size-font: 16px;
  --time-standard-delay: 0.66s;
  --time-shine-effect: 2s;
  --cubic-bezier-card-pick: cubic-bezier(.15, 1.05, .64, .42);
  --ratio-deck: 0.75;
  --ratio-gap: 1;
}

@media all and (max-width: 696px) {
  :root {
    --ratio-deck: 0.5;
    --ratio-gap: 0.25;
  }
}
@font-face {
  font-family: "Roboto Mono";
  src: url(asset/fonts/RobotoMono-Light.woff2), url(asset/fonts/RobotoMono-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url(asset/fonts/RobotoMono-Regular.woff2), url(asset/fonts/RobotoMono-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url(asset/fonts/RobotoMono-Bold.woff2), url(asset/fonts/RobotoMono-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#root {
  padding: 0px;
  margin: 0px auto;
  height: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
button,
input {
  font-size: var(--size-font);
  font-family: "Roboto Mono", monospace;
  color: var(--color-tarot-moon);
}

body {
  background-color: var(--color-secondary);
  background: linear-gradient(to right, var(--color-primary) -8%, transparent 3%), linear-gradient(to left, var(--color-primary) -8%, var(--color-secondary) 3%);
}

ul,
p,
h3 {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

*:disabled {
  opacity: 0.5;
  pointer-events: none;
}/*# sourceMappingURL=index.css.map */